name: Deploy Website

on:
  push:
    branches: [ "main" ]   # runs when you push to main branch
  workflow_dispatch:        # allows manual run

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./  # website files are in root folder
